[submodule "deps/snap"]
	path = deps/snap
	url = https://github.com/snapframework/snap
[submodule "deps/servant"]
	path = deps/servant
	url = https://github.com/codedmart/servant
[submodule "snap-loader-static"]
	path = snap-loader-static
	url = http://github.com/snapframework/snap-loader-static
[submodule "snap-loader-dynamic"]
	path = snap-loader-dynamic
	url = http://github.com/snapframework/snap-loader-dynamic
[submodule "deps/snap-loader-dynamic"]
	path = deps/snap-loader-dynamic
	url = http://github.com/snapframework/snap-loader-dynamic
[submodule "deps/snap-loader-static"]
	path = deps/snap-loader-static
	url = http://github.com/snapframework/snap-loader-static
